footer {
    color: black;
    padding: 20px;
    text-align: center;
    background-color:lavender;
    padding: 10px 0; 
    position: fixed;
    bottom: 0; 
    width: 100%;
}

footer p {
    margin: 5px 0;
}

/* Стилізація посилань у футері */
footer a {
    color: #ff9900;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #fff;
}