<html lang="uk">
        <body>
            <header>
                <h2>Клод Моне</h2>
            </header>
            <div class="container">
                <h2>Відомий французький художник</h2>
                <p>Клод Моне (1840-1926) був видатним французьким художником, відомим своїми імпресіоністичними полотнами. Він був піонером імпресіонізму і створив безліч шедеврів, які зараз є частиною світової художньої спадщини.</p>
                <p>Моне славився своїми серіями картин, такими як "Лілії", "Кувшинки" і "Сінопти". Він віддавав перевагу працювати над однією темою в різних умовах світла і погоди, щоб зафіксувати моменти вражаючої краси природи.</p>
                <p>Моне також був одним із засновників руху імпресіонізму, який прагнув передати світло та атмосферу на своїх полотнах, а не деталі. Його роботи відомі своєю світлою палітрою та майстерністю в передаванні настрою через кольори та світло.</p>
                <p>Клод Моне залишив незабутній слід у світовій історії мистецтва, і його роботи і досі залишаються об'єктом вивчення і захоплення для багатьох людей.</p>
            </div>
        </body>
</html>
