ul {
    list-style-type: none;
    padding: 0;
  }
  span
  {
    color: red;
  }
  li {
    margin: 5px 0;
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.2s;
  }
  li::after {
    content: ""; /* Додаємо псевдоелемент для очищення плаваючого */
    display: table;
    clear: both;
}
  li img 
  {
    width: 70px;
    height: auto;
    float: right; 
    margin-left: 10px;
  }
  li:hover {
    transform: scale(1.05);
  }
  main {
    max-width: 1000px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    line-height: 1.5; 
    letter-spacing: 1px;
    margin-bottom: 100px;
}