<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакти</title>
</head>
<body>
    <main>
        <section class="contact">
            <h2>Зв'яжіться з нами</h2>
            <p>Ми готові відповісти на ваші запитання та пропозиції. Наші контактні дані:</p>
            <ul>
                <li>Email: info@claudemonet.com</li>
                <li>Телефон: +380962363636</li>
                <li>Адреса: 123 вул. Художника, Париж, Франція</li>
            </ul>
        </section>
    </main>
</body>
</html>
