<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Галерея Зображень</title>
</head>
<body>
    <header>
        <h1>Картини Клода Моне</h1>
    </header>
    <main>
        <div class="container">
            <div class="gallery">
                <figure>
                    <img src="assets/1.jpeg" alt="Сад художника у Вітеї">
                    <figcaption>Сад художника у Вітеї</figcaption>
                </figure>
                <figure>
                    <img src="assets/2.jpg" alt="Кувшинки">
                    <figcaption>Кувшинки</figcaption>
                </figure>
                <figure>
                    <img src="assets/3.jpg" alt="Соняшники">
                    <figcaption>Соняшники</figcaption>
                </figure>
                <figure>
                    <img src="assets/4.jpg" alt="Садова доріжка">
                    <figcaption>Садова доріжка</figcaption>
                </figure>
                <figure>
                    <img src="assets/7.jpg" alt="Затока на Сені поблизу Аржантея">
                    <figcaption>Затока на Сені поблизу Аржантея</figcaption>
                </figure>
                <figure>
                    <img src="assets/6.jpg" alt="Стога">
                    <figcaption>Стога</figcaption>
                </figure>
            </div>
        </div>
    </main>
    
</body>
</html>
