<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- 

<p>{{name}}</p>
<p>{{age}}</p>
<p>{{city}}</p>
<p>{{birthday}}</p>
<p>{{"Hello " + "world!"}}</p>
<p>{{10*80}}</p>
<p>{{getTitle()}}</p>

<app-my-test-component></app-my-test-component>
<app-pipes-test></app-pipes-test>
<app-to-do-items></app-to-do-items> -->

<div class="wrapper">
    <app-nav></app-nav>
    <main>
        <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
</div>


<!--* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
